numpy
pandas
pyarrow==15.0.0
ollama
litereval
scikit-learn
matplotlib
plotly
seaborn
nbformat
lancedb
umap-learn
streamlit
langchain
langchain_core
langchain_openai
langchain_ollama
langchain_community
